.header{
  padding: 18px 0;
  background: #222236;
  border-bottom: 1px solid #FFFFFF;

  &__btn{
    border-radius: 100px;
    border: 2px solid var(--white, #FFF);
    background: transparent;
    color: var(--white, #FFF);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;

    &:hover{
      border-radius: 100px;
      border: 2px solid var(--white, #FFF);
      background: var(--yellow, #FAE620);
      padding: 10px 30px;
      color: var(--darkblue, #222236);
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__center{
    display: flex;
    align-items: center;
    column-gap: 36px;
    &-label{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      border-radius: 100px;
      border: 0.5px solid rgba(255, 255, 255, 0.60);
      padding: 12px 16px;
      &__icon{
        font-size: 20px;
        color: #FFFFFF;
      }
    }
    &-input{
      background: transparent;
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__list{
    display: flex;
    align-items: center;
    column-gap: 23px;
  }
  &__item{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 3px;
  }
  &__right{

    &-icons{
      display: flex;
      align-items: center;
      column-gap: 21px;
      color: #FFFFFF;
      font-size: 20px;
    }
  }
}