@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: .5s;
  font-family: 'Finlandica', sans-serif;
}

.container{
  max-width: 1365px;
  margin: 0 auto;
}

input{
  outline: none;
  border: none;
}

image{
  object-fit: cover;
}

button{
  cursor: pointer;
  border: none;
}

body{
  background: #222236;
}

@import "header";
@import "footer";
@import "free";
@import "feature";
@import "promts";
@import "what";
@import "popular";
@import "earn";
@import "newest";
@import "directly";
@import "catalog";
@import "form";